/* Custom Fonts */

@font-face {
	font-family: "Folio Std";
	src: url("@/assets/fonts/folio-std-light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Knockout";
	src: url("@/assets/fonts/KnockoutBan.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
