.connect-wallet-btn {
  background: #8b5cf6;
  padding: 0.85rem 1.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border: none;
  color: #ffffff;
  font-size: var(--font-size-body-medium);
  white-space: nowrap;
  cursor: pointer;
  border-radius: 0.8rem;

  .btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .btn-label {
    font-weight: 700;
    font-size: var(--font-size-body-medium);
    margin-left: 0;
    letter-spacing: 0;
    text-align: center;
  }
  &:hover {
    background: #7c3aed;
  }
  &:active {
    background: #6d28d9;
  }
}

@media (max-width: 450px) {
  .connect-wallet {
    padding: 0.5rem 0.8rem;
  }
}

@media (max-width: 350px) {
  .connect-wallet-btn {
    height: 3.6rem;
    .btn-icon {
      display: none;
    }
    .btn-label {
      margin-left: 0px;
    }
  }
}
